<h1>Follow up with these folks</h1>
<div id="contact-cards-container">
    {{#each this}}
        <div class="panel panel-default">
            <div class="panel-heading"><h3 class="panel-title">
                <strong>{{nameFull}}</strong> <span class="pull-right"><a href="/contact/{{_id}}">Edit</a></span>
                <!-- TODO: Need to create Edit link functionality-->
            </h3></div>
            <div class="panel-body">
                <p>
                    {{phone1}}
                    <!-- TODO: This bit of Handlebars ugliness (below) should probably be replaced with some fancy css that adds a divider between spans, excluding the first floated span -->
                    {{#if email}}{{#if phone1}} / {{/if}}{{/if}}
                    <a href="mailto:{{email}}">{{email}}</a>
                </p>
                {{#if tags}}<p>
                    Tags:
                    {{#each tags}}
                        {{this}}{{#unless @last}}, {{/unless}}<!-- I should implement the commas with css rather than through handlebars blocks, methinks -->
                    {{/each}}
                </p>{{/if}}
                <p>{{#if lastContacted}}<span>Last Contacted: {{lastContacted}}{{/if}}</span> <span class="pull-right"><a class="show-hide-details" href="#">Show details</a></span></p>
                <div class="hidden details">
                    <hr>
                    <p><strong>Notes:</strong> {{notes}}</p>
                </div>
            </div>
        </div>
    {{else}}
        <div class="panel panel-default">
            <div class="panel-heading"><h3 class="panel-title">
                No Matching Contacts
            </h3></div>
            <div class="panel-body">
                <p>There were no matching contacts. Would you like to <a href="#">create a new contact?</a></p>
                <!-- TODO: "create a new contact" link functionality -->
            </div>
        </div>
    {{/each}}
</div>