<div class="panel panel-default">
    <div class="panel-heading"><h3 class="panel-title">
        <strong>{{nameFull}}</strong> <span class="pull-right"><a href="#">Edit</a></span>
        <!-- TODO: Need to create Edit link functionality-->
    </h3></div>
    <div class="panel-body">
        <p>{{phone1}} / <a href="mailto:{{email}}">{{email}}</a></p>
        <p>Last Contacted: {{lastContacted}} <span class="pull-right"><a class="show-hide-details" href="#">Show details</a></span></p>
        <div class="details">
            <hr>
            <p><strong>Notes:</strong> {{notes}}</p>
        </div>
    </div>
</div>