<h3>{{nameFull}}</h3> <!-- TODO: get rid of this separate line, and make the nameFull field below, in the form, larger. Model after Gmail Contacts -->

<div class="panel-body form-horizontal" id="c-contact-details-form">
    <form action="/contacts" method="post">
        <div class="form-group">
            <label for="nameFull" class="col-sm-2 control-label">Name</label>
            <div class="col-sm-10">
                <input type="text" class="hidden form-control js-edit-view" id="nameFull" name="nameFull" placeholder="Full name" value="{{nameFull}}">
                <p id="js-nameFull" class="js-details-view">{{nameFull}}</p>
            </div>
        </div>
        <div class="form-group">
            <label for="email" class="col-sm-2 control-label">Email</label>
            <div class="col-sm-10">
                <input type="email" class="hidden form-control js-edit-view" id="email" name="email" placeholder="Email" value="{{email}}">
                <p class="js-details-view"><a href="mailto:{{email}}">{{email}}</a></p>
            </div>
        </div>
        <div class="form-group">
            <label for="phone1" class="col-sm-2 control-label">Phone</label>
            <div class="col-sm-10">
                <input type="text" class="hidden form-control js-edit-view" id="phone1" name="phone1" placeholder="Primary phone number" value="{{phone1}}">
                <p class="js-details-view">{{phone1}}</p>
            </div>
        </div>
        <div class="form-group">
            <label for="near" class="col-sm-2 control-label">Near</label>
            <div class="col-sm-10">
                <input type="text" class="hidden form-control js-edit-view" id="near" name="near" placeholder="Location" value="{{near}}">
                <p class="js-details-view">{{near}}</p>
            </div>
        </div>
        <div class="form-group">
            <label for="notes" class="col-sm-2 control-label">Notes</label>
            <div class="col-sm-10">
                <textarea class="hidden form-control js-edit-view" id="notes" name="notes" placeholder="Notes about contact" rows="3">{{notes}}</textarea>
                <p class="js-details-view">{{notes}}</p>
            </div>
        </div>
        <div class="form-group">
            <label for="priority" class="col-sm-2 control-label">Priority</label>
            <div class="col-sm-10">
                <input type="number" class="hidden form-control js-edit-view" id="priority" name="priority" placeholder="Priority (lower is better), default 3" value="{{priority}}" min="0" max="5">
                <p class="js-details-view">{{priority}}</p>
            </div>
        </div>
        <div class="form-group">
            <label for="contactFrequency" class="col-sm-2 control-label">Contact frequency</label>
            <div class="col-sm-10">
                <input type="number" class="hidden form-control js-edit-view" id="contactFrequency" name="contactFrequency" placeholder="Number of days, default 180" value="{{contactFrequency}}" min="0">
                <p class="js-details-view">{{contactFrequency}}</p>
            </div>
        </div>
        <div class="form-group">
            <label for="lastContacted" class="col-sm-2 control-label">Last contacted</label>
            <div class="col-sm-10">
                <input type="date" class="hidden form-control js-edit-view" id="lastContacted" name="lastContacted" value="{{lastContactedInputStr}}"> <!-- TODO: Pass in appropriate data for value of this field -->
                <p class="js-details-view">{{lastContactedStr}}</p>
                <p class="js-details-view">{{contactNext}}</p> <!-- TODO: Make a human-readable string out of this via virtual property -->
            </div>
        </div>
        <div class="form-group">
            <label for="tagString" class="col-sm-2 control-label">Tags</label>
            <div class="col-sm-10">
                <input type="text" class="hidden form-control js-edit-view" id="tagString" name="tagString" placeholder="Tags, separated by commas" value="{{tagString}}">
                <p class="js-details-view">{{tagsString}}</p>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button id="js-contact-update-button" class="hidden btn btn-primary js-edit-view">Save contact</button>
                <button id="js-contact-update-cancel-button" class="hidden btn btn-danger js-edit-view pull-right">Cancel</button>
                <button id="js-contact-edit-button" class="btn btn-primary js-details-view">Edit</button>
            </div>
        </div>
    </form>
</div>
